---
title: Design Portfolio
css: ["portfolio"]
---

<%#= partial "menu", :locals => { :header_alt_link => {
      :link => "/portfolio",
      :title => "Shuyang Li / Portfolio"
    } } %>
<%= partial "menu" %>

<div class="container-fluid">

  <% data.portfolio.each do |project_group| %>
    <% next if project_group.projects.empty? %>

    <div class="col-sm-2">
      <h2 class="heading-portfolio"><%= project_group.category %></h2>
    </div>
    <div class="col-sm-10 project-column-wrapper">
      <% project_group.projects.each do |project| %>
        <a href="/portfolio/<%= project.id %>.html">
          <div class="col-sm-5 project-wrapper">
            <img src="images/portfolio-assets/<%= project.id %>-preview.png">
            <h4><%= project.title %></h4>
          </div>
        </a>
      <% end %>
    </div>
  <% end %>

</div>
